.resizeable {
  background-color: #fff;
  position: relative;
  width: 330px;
  height: 640px;
  border-radius: 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  min-height: 150px;
  overflow: hidden;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.resizer {
  position: absolute;
  background: black;
}

.resizer-r {
  cursor: col-resize;
  height: 100%;
  right: 0;
  top: 0;
  width: 5px;
  border-radius: 200px 200px 0 0;
  -webkit-border-radius: 200px 200px 0 0;
  -moz-border-radius: 200px 200px 0 0;
  -ms-border-radius: 200px 200px 0 0;
  -o-border-radius: 200px 200px 0 0;
}

.resizer-t {
  cursor: row-resize;
  height: 20px;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
}

.resizer-b {
  cursor: row-resize;
  height: 12px;
  left: 0;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 20px 20px0;
  -webkit-border-radius: 0 0 20px 20px0;
  -moz-border-radius: 0 0 20px 20px0;
  -ms-border-radius: 0 0 20px 20px0;
  -o-border-radius: 0 0 20px 20px0;
}

.resizer-l {
  cursor: col-resize;
  height: 100%;
  left: 0;
  top: 0;
  width: 5px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
